html.dark {
  //header bar
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(6510%) hue-rotate(150deg) brightness(133%) contrast(121%);
  --body-bg-color: #292e39;
  --header-bg-color: #171c28;
  --top-act-bg-group: #292e39;
  --top-act-shadow-avatar: rgba(0, 0, 0, 0.2);
  --top-act-shadow-btn: rgba(0, 0, 0, 0.2);
  --top-act-separate: #ededf6;
  --header-shadow: rgba(0, 0, 0, 0.2);
  --header-bg-lg-color: #171c28;

  //dropdown
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(8%)
    saturate(1462%) hue-rotate(186deg) brightness(94%) contrast(92%);
  --top-menu-border: #171c28;
  --menu-column-action: brightness(0) saturate(100%) invert(100%) sepia(97%)
    saturate(489%) hue-rotate(254deg) brightness(110%) contrast(97%);
  --menu-color-text: #b9babe;

  //tablets/mobiles dropdown menu
  --menu-drawer-shadow: rgba(23, 28, 40, 0.40);
  --menu-drawer-bg-color:#292E39;
}
