@use "../abstract";

html {
  //header bar
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(10%) sepia(34%)
    saturate(841%) hue-rotate(210deg) brightness(90%) contrast(101%);
  --body-bg-color: #f6f6f6;
  --header-bg-color: #eee;
  --top-act-bg-group: #fff;
  --top-act-shadow-avatar: rgba(0, 0, 0, 0.08);
  --top-act-shadow-btn: rgba(237, 237, 246, 0.2);
  --top-act-separate: #ededf6;
  --header-shadow: rgba(237, 237, 246, 0.2);
  --header-bg-lg-color: #fff;

  @include abstract.breakpoint(sm) {
    --header-bg-color: #fff;
  }

  //dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-border: #d2d1d6;
  --menu-column-action: brightness(0) saturate(100%) invert(7%) sepia(14%)
    saturate(4579%) hue-rotate(221deg) brightness(91%) contrast(94%);

  //tablets/mobiles dropdown menu
  --menu-drawer-shadow: rgba(200, 200, 200, 0.4);
  --menu-drawer-bg-color:#FFF;
}
