@use "../abstract";

@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}

%flexItemCenter {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color);
}

.top-bar {
  @extend %flexItemCenter;
  padding: 3rem 0rem;
  @include abstract.breakpoint(sm) {
    padding: 1.6rem 0rem;
    justify-content: space-between;
  }

  @include abstract.breakpoint(lg) {
    padding: 1.6rem 0rem;
  }

  &__more {
    display: none;

    @include abstract.breakpoint(lg) {
      display: block;
    }
  }
}

.navbar {
  margin-left: 14.4rem;
  @include abstract.breakpoint(xl) {
    margin-left: 5rem;
  }

  @include abstract.breakpoint(lg) {
    display: none;
  }

  &__list {
    @extend %flexItemCenter;
    gap: 3rem;
  }

  &__link {
    @extend %flexItemCenter;
    gap: 0.6rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
    color: inherit;
  }

  &__arrow {
    @include widthHeight(1.2rem, 1.2rem);
  }
}

.top-act {
  @extend %flexItemCenter;
  margin-left: auto;
  gap: 2rem;

  @include abstract.breakpoint(sm) {
    margin-left: 0;
  }

  &__avatar {
    @include widthHeight(5rem, 5rem);
    border-radius: 0.8rem;
    box-shadow: 0px 4px 14px 2px var(--top-act-shadow-avatar);
    object-fit: cover;
  }

  &__group {
    @extend %flexItemCenter;
    background: var(--top-act-bg-group);
    border-radius: 0.8rem;

    @include abstract.breakpoint(sm) {
      display: none;
    }
  }

  &__btn {
    border-radius: 0.8rem;
    background: var(--top-act-bg-group);
    box-shadow: 0px 20px 60px 10px var(--top-act-shadow-btn);
    @extend %flexItemCenter;
    padding: 1.3rem 2rem;
    outline: none;
    border: #fff;
    gap: 1rem;
    cursor: pointer;

    &--search {
      padding: 1.3rem;
      @include abstract.breakpoint(lg) {
        display: none;
      }
    }
  }

  &__separate {
    width: 0.1rem;
    height: 3rem;
    background: var(--top-act-separate);
  }

  &__title {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.46;
  }
}
