<div class="container">
  <div class="top-bar">
    <!-- More -->
    <button class="icon top-bar__more">
      <img src="./assets/icons/more.svg" alt="" class="top-bar__more--icon" />
    </button>

    <!-- Logo -->
    <a href="./" class="logo">
      <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
      <h1 class="logo__title">grocerymart</h1>
    </a>
    <!-- Nav bar  -->
    <nav class="navbar">
      <ul class="navbar__list js-dropdown-list">
        <li class="navbar__item">
          <a href="" class="navbar__link">
            Departments
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="navbar__arrow icon"
            />
          </a>
          <div class="drop-down">
            <div class="drop-down__inner">
              <div class="top-menu">
                <div class="top-menu__main">
                  <div class="menu-column">
                    <div class="menu-column__icon">
                      <img
                        src="./assets/icons/dropdown-shape-circle.svg"
                        alt=""
                        class="menu-column__icon--shape"
                      />
                      <img
                        src="./assets/icons/dropdown-menu.svg"
                        alt=""
                        class="menu-column__icon--img"
                      />
                    </div>
                    <nav class="menu-column__content">
                      <h3 class="menu-column__title">All Departments</h3>
                      <ul class="menu-column__list">
                        <!-- ======Row 1====== -->
                        <li class="menu-column__list--mb">
                          <a href="">Savings & Featured Shops</a>
                        </li>
                        <!-- ======Row 2====== -->
                        <li class="menu-column__list--mb">
                          <a href="">Electronics</a>
                          <div class="top-menu__details--box">
                            <!-- Col 1 -->
                            <div class="top-menu__details">
                              <div class="top-menu__details--inner">
                                <!-- col-inner-1 -->
                                <div class="details-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="./assets/icons/dropdown-detail-square.svg"
                                      alt=""
                                      class="menu-column__icon--shape"
                                    />
                                    <img
                                      src="./assets/icons/dropdown-detail-watch.svg"
                                      alt=""
                                      class="menu-column__icon--img"
                                    />
                                  </div>
                                  <nav class="menu-column__content">
                                    <h3 class="menu-column__title">
                                      TV & Video
                                    </h3>
                                    <ul class="menu-column__list">
                                      <li class="details-column__list">
                                        Shop all TVs
                                      </li>
                                      <li class="details-column__list">
                                        TVs by Size
                                      </li>
                                      <li class="details-column__list">
                                        Smart TVs
                                      </li>
                                      <li class="details-column__list">
                                        Roku TVs
                                      </li>
                                      <li class="details-column__list">
                                        Streaming
                                      </li>
                                      <li class="details-column__list">
                                        TV Mounts & Accessories
                                      </li>
                                      <li class="details-column__list">
                                        DVD & Blu-Ray Players
                                      </li>
                                    </ul>
                                  </nav>
                                </div>
                                <!-- col-inner-2 -->
                                <div class="details-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="./assets/icons/dropdown-detail-star.svg"
                                      alt=""
                                      class="menu-column__icon--shape"
                                    />
                                    <img
                                      src="./assets/icons/dropdown-detail-watch.svg"
                                      alt=""
                                      class="menu-column__icon--img"
                                    />
                                  </div>
                                  <nav class="menu-column__content">
                                    <h3 class="menu-column__title">
                                      Wearable Technology
                                    </h3>
                                    <ul class="menu-column__list">
                                      <li class="details-column__list">
                                        Galaxy Watch
                                      </li>
                                      <li class="details-column__list">
                                        Apple Watch
                                      </li>
                                      <li class="details-column__list">
                                        Fitness Trackers
                                      </li>
                                      <li class="details-column__list">
                                        Virtual Reality
                                      </li>
                                      <li class="details-column__list">
                                        Headphones
                                      </li>
                                    </ul>
                                  </nav>
                                </div>
                              </div>
                            </div>
                            <!-- Col 2 -->
                            <div class="top-menu__details">
                              <div class="details-column">
                                <div class="menu-column__icon">
                                  <img
                                    src="./assets/icons/dropdown-detail-triangle.svg"
                                    alt=""
                                    class="menu-column__icon--shape"
                                  />
                                  <img
                                    src="./assets/icons/dropdown-detail-screen.svg"
                                    alt=""
                                    class="menu-column__icon--img"
                                  />
                                </div>
                                <nav class="menu-column__content">
                                  <h3 class="menu-column__title">Computers</h3>
                                  <ul class="menu-column__list">
                                    <li class="details-column__list">
                                      Shop All Computers
                                    </li>
                                    <li class="details-column__list">
                                      Laptops
                                    </li>
                                    <li class="details-column__list">
                                      PC Gaming
                                    </li>
                                    <li class="details-column__list">
                                      Monitors
                                    </li>
                                    <li class="details-column__list">
                                      Chromebook
                                    </li>
                                    <li class="details-column__list">
                                      Printers & Ink
                                    </li>
                                    <li class="details-column__list">
                                      Shop all TVs
                                    </li>
                                    <li class="details-column__list">
                                      Computer Accessories
                                    </li>
                                    <li class="details-column__list">
                                      Desktops
                                    </li>
                                    <li class="details-column__list">
                                      Tax Software
                                    </li>
                                    <li class="details-column__list">
                                      Computer Software
                                    </li>
                                    <li class="details-column__list">
                                      PC Finder
                                    </li>
                                  </ul>
                                </nav>
                              </div>
                            </div>
                            <!-- Col 3 -->
                            <div class="top-menu__details">
                              <div
                                class="top-menu__details--inner top-menu__details--inner--ml"
                              >
                                <!-- col-inner-1 -->
                                <div class="details-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="./assets/icons/dropdown-detail-moon.svg"
                                      alt=""
                                      class="menu-column__icon--shape"
                                    />
                                    <img
                                      src="./assets/icons/dropdown-detail-checked.svg"
                                      alt=""
                                      class="menu-column__icon--img"
                                    />
                                  </div>
                                  <nav class="menu-column__content">
                                    <h3 class="menu-column__title">Savings</h3>
                                    <ul class="menu-column__list">
                                      <li class="details-column__list">
                                        Tech Savings
                                      </li>
                                      <li class="details-column__list">
                                        Overstock Savings
                                      </li>
                                      <li class="details-column__list">
                                        Tech Rollbacks
                                      </li>
                                    </ul>
                                  </nav>
                                </div>
                                <!-- col-inner-2 -->
                                <div class="details-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="./assets/icons/dropdown-detail-hexagon.svg"
                                      alt=""
                                      class="menu-column__icon--shape"
                                    />
                                    <img
                                      src="./assets/icons/dropdown-detail-cellphone.svg"
                                      alt=""
                                      class="menu-column__icon--img"
                                    />
                                  </div>
                                  <nav class="menu-column__content">
                                    <h3 class="menu-column__title">
                                      Cell Phones
                                    </h3>
                                    <ul class="menu-column__list">
                                      <li class="details-column__list">
                                        Wireless Deals
                                      </li>
                                      <li class="details-column__list">
                                        5G Phones
                                      </li>
                                      <li class="details-column__list">
                                        Prepaid Phones & Plans
                                      </li>
                                      <li class="details-column__list">
                                        Refurbished Phones
                                      </li>
                                      <li class="details-column__list">
                                        iPhone Accessories
                                      </li>
                                      <li class="details-column__list">
                                        Cases & Screen Protectors
                                      </li>
                                      <li class="details-column__list">
                                        Walmart Protection Plan
                                      </li>
                                      <li class="details-column__list">
                                        Unlocked Phones
                                      </li>
                                    </ul>
                                  </nav>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="menu-column__list--mb">
                          <a href="">Clothing, Shoes & Accessories</a>
                        </li>
                        <li class="menu-column__list--mb">
                          <a href="">Home, Furniture & Appliances</a>
                        </li>
                        <li class="menu-column__list--mb">
                          <a href="">Toys & Video Games</a>
                        </li>
                        <li class="menu-column__list--mb">
                          <a href="">Home Improvement</a>
                        </li>
                        <li class="menu-column__list--mb">
                          <a href="">Baby</a>
                        </li>
                        <li class="menu-column__list--mb">
                          <a href="">Household Essentials</a>
                        </li>
                        <li class="menu-column__list--mb">
                          <a href="">Personal Care</a>
                        </li>
                        <li class="menu-column__list--mb">
                          <a href="">Patio & Garden</a>
                        </li>
                        <li class="menu-column__list--mb">
                          <a href="">Sports & Outdoors</a>
                        </li>
                        <li class="menu-column__list--mb">
                          <a href="">Gift Cards</a>
                        </li>
                        <li class="menu-column__list--mb">
                          <a href="">Auto, Tires and Industrial</a>
                        </li>
                        <li class="menu-column__list--mb">
                          <a href="">Movies, Music & Books</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__link">
            Grocery
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="navbar__arrow icon"
            />
          </a>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__link">
            Beauty
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow"
            />
          </a>
        </li>
      </ul>
    </nav>
    <div class="top-act">
      <div class="top-act__group">
        <button class="top-act__btn top-act__btn--search">
          <img
            src="./assets/icons/search.svg"
            alt=""
            class="top-act__icon icon"
          />
        </button>
      </div>

      <div class="top-act__group">
        <button class="top-act__btn">
          <img
            src="./assets/icons/heart.svg"
            alt=""
            class="top-act__icon icon"
          />
          <span class="top-act__title">03</span>
        </button>

        <div class="top-act__separate"></div>

        <button class="top-act__btn">
          <img
            src="./assets/icons/shopping.svg"
            alt=""
            class="top-act__icon icon"
          />
          <span class="top-act__title">$65.42</span>
        </button>
      </div>

      <img src="./assets/img/avatar.jpg" alt="" class="top-act__avatar" />
    </div>
  </div>
</div>
